{% extends 'partials/base.html' %} {% block content %}
<h2>Welcome to the Film Catalog</h2>
<div class="row">
  {% for film in films %}
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ film.title }}</h5>
        <p class="card-text">Release Date: {{ film.formatted_release_date }}</p>
        <p class="card-text">
          Directors: {% for director in film.directors %} {% comment %}
          ===================================================== {% endcomment %}
          {{ director.first_name}} {% comment %}
          ===================================================== {% endcomment %}
          {{ director.last_name }} {% if not forloop.last %}, {% comment %}
          ===================================================== {% endcomment %}
          {% endif %} {% endfor %}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
