p {
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.line {
    margin-left: -5px;
}

.branch {
    margin-left: 25px;
}

.sticky-header {
    background-color:#fff3cd;
    /* position: fixed; */
    top: 0;
    /* width: 100% */
    position: sticky;
  }
  
  .sticky + {
    padding-top: 102px;
  }