p {
    margin: 0;
    padding: 0;
    margin-top: -1px;
    line-height: 20px;
}

.line {
    margin-left: -5px;
}

.branch {
    margin-left: 25px;
}
.shiftBack {
    margin-left:-1.3px;
}
.week {
    cursor: pointer;
    /* background-color: rgb(235, 201, 129); */
    width: 130px;
    height: 38px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding-left: 1rem;
    gap: 3px;
    align-items: center;
    margin-left:0;
    
}