{% extends 'partials/base.html' %} {% block content %}
<h2>Welcome to the Film Catalog</h2>
<div class="row">
  {% if user.is_authenticated %}
  <p>Logged in as: {{ user.username }}</p>
  {% for film in films %}
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ film.title }}</h5>
        <p class="card-text">Release Date: {{ film.formatted_release_date }}</p>
        <p class="card-text">
          Directors: {% for director in film.directors %} {% comment %}
          ===================================================== {% endcomment %}
          {{ director.first_name}} {% comment %}
          ===================================================== {% endcomment %}
          {{ director.last_name }} {% if not forloop.last %}, {% comment %}
          ===================================================== {% endcomment %}
          {% endif %} {% endfor %}
        </p>
        <p class="card-text">Reviews:</p>
        <ul>
          {% for review in film.review_set.all %}
          <li>
            <strong>Rating:</strong> {{ review.rating }} stars<br />
            <strong>Review:</strong> {{ review.review_text }}<br />
            <strong>Date:</strong> {{ review.review_date|date:"F d, Y H:i A" }}
            <strong>Author:</strong>{{ review.review_author.email }}
          </li>
          {% empty %}
          <li>No reviews yet.</li>
          {% endfor %}
        </ul>
      </div>
      <!-- Add Review button -->
      <form method="post" action="{% url 'addReview' film.pk %}">
        {% csrf_token %}
        <input type="hidden" name="film_id" value="{{ film.pk }}" />
        <button type="submit" class="btn btn-success">Add review</button>
      </form>
      <!-- Add the delete button -->
      {% if user.is_superuser %}
      <form method="post" action="{% url 'deleteFilm' film.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      {% endif %}
      <!-- Add or remove from favorites button -->
      <form method="post" action="{% url 'favoriteFilm' film.pk %}">
        {% csrf_token %} {% if film in user.favorite_films.all %}
        <button type="submit" class="btn btn-danger">
          Remove from Favorites
        </button>
        {% else %}
        <button type="submit" class="btn btn-primary">Add to Favorites</button>
        {% endif %}
      </form>
      <!-- Add a button to view the film's details -->
      <a href="{% url 'filmDetail' film.pk %}" class="btn btn-primary"
        >View Details</a
      >
    </div>
  </div>
  {% endfor %} {% else %}
  <!-- Display a message for non-authenticated users -->
  <p>Please log in to see the list of films.</p>
  {% endif %}
</div>
{% endblock %}
