<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <!-- Add your CSS styles and external CSS links here -->
  </head>
  <body>
    <div class="container">
      <h2>Change Password</h2>
      <form method="post">
        {% csrf_token %} {{ form.old_password.label_tag }} {{ form.old_password
        }} {{ form.new_password1.label_tag }} {{ form.new_password1 }} {{
        form.new_password2.label_tag }} {{ form.new_password2 }}

        <button type="submit">Change Password</button>
      </form>
      <!-- Add any additional links or messages here -->
    </div>
  </body>
</html>
